@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


.navbar-brand{
    font-size: 19px;
}

/*PROMOCION INICIO INDEX*/
.promocion{
    padding: 60px;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content:start;
    background: url(/multimedia/fotoinicio.jpg) no-repeat center center;
    background-size: cover;
    background-color: black;
}

.promocion-texto{
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    height: 150px;
}

.promocion-texto a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    font-size: 20px;
    margin-left: 10px;
}
/*PROMOCION INICIO INDEX*/


/*INFO BODY Y COMENTARIOS INDEX*/
.info-body{
    display: block;
    text-align: center;
}
.info-body button{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
/*INFO BODY Y COMENTARIOS INDEX*/

/*SLIDER*/
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    justify-content: center;
    max-width: 700px;
}
/*SLIDER*/

/*ENCABEZADO PRODUCTOS*/
.encabezado{
    margin-top: 60px;
    text-align: center;
}

.encabezado h1{
    text-decoration:underline;
    font-weight: bolder;
}
/*ENCABEZADO PRODUCTOS*/

/*PROMOCION PRODUCTOS*/
.promoproductos { 
    text-align: center;
    text-decoration: underline;
}

.descripcionproducto{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}

.descripcionproducto:hover{
    display: block;
}

.contenedorproductos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.contenedorproductos button{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contenedorproductos img{
    max-width: 600px;
}
/*PROMOCION PRODUCTOS*/

/*FOOTER*/
.footer {
    background-color: black;
    color: white;
    text-align: center;
}

.redes {
    display: flex;
    justify-content:center;
    font-size: 20px;
    gap: 50px;
}

.redes a {
    color: white;
    text-decoration: none;
}
/*FOOTER*/